.navstyle {
  background-color: white;
}

.logo1 {
  height: 5rem;
  width: 7rem;
}

.html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-right: 5px;
}

.body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: #8ce5b0;
}
.Watchlist {
  height: 100%;
  margin: 0;
}

.footer {
  text-align: center;
  font-size: 12px;
  background-color: white;
  padding-top: 10px;
  width: 100%;
  position: fixed;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(211, 216, 221);
}

/* ----------------------- Header style ----------------------- */

.navword1 {
  color: #61d290; /*Hovedfarge - Lik som logo!*/
}

.navword1:hover {
  color: #009a6b;
}

/* ----------------------- Buttons ----------------------- */

.btnstyle1 { /*Used for log in, sign up and let's search buttons*/
  background-color: #11b785;
  color: white;
  float: left;
  width: 100%;
  overflow: auto;
}

.btnstyle1:hover {  
  background-color: #009a6b;
}

.btnstyle2 { /*Used for add button i filmlist component*/
  background-color: #11b785;
  color: white;
  overflow: auto;
  width: 80px;
}

.btnstyle2:hover {  
  background-color: #009a6b;
}

/*
.btnstyle3 {
  background-color: #11b785;
  color: white;
  overflow: auto;
  text-align: left;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-left: 5px;
}
*/

.btnstyle4 { /* Used for the little x-buttons to remove films or followers*/
  text-align: center;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: lightgray;
  border-color: gray;
  color: white;
  font-weight: bold;
  text-shadow: black;
}

.btnstyle5 { /* Used for the go-button on the serachpage*/
  background-color: #11b785;
  border-color: #11b785;
  margin-bottom: 4px;
  margin-left: 4px;
  color: white;
  overflow: auto;
  height: 32px;
  width: 30px;
  font-style: normal;
  padding: 0;
  text-align: center;
}

.btnstyle5:hover {  
  background-color: #009a6b;
}

.btnstyle6 {  /* Used for the Follow button on the searchpage*/
  background-color: #11b785;
  border-color: #009a6b;
  margin-bottom: 4px;
  margin-left: 2%;
  color: white;
  overflow: auto;
  height: 30px;
  width: auto;
  font-style: normal;
  padding: 2px;
  text-align: center;
}

.btnstyle6:hover {
  background-color: #009a6b;
  border-color: #016345;
  color: white;
}

.btnstyle7 { /* Used for the show/hide button on the searchpage*/
  background-color: white;
  border-color: white;
  margin-bottom: 4px;
  margin-left: 1px;
  color: #11b785;
  overflow: auto;
  height: 30px;
  width: auto;
  font-style: normal;
  padding: 0;
  text-align: center;
}

.btnstyle7:hover {
  background-color: white;
  border-color: white;
  color: #009a6b;
  text-decoration: underline;
}

/* ----------------------- Login and singup style ----------------------- */
.loginstyle { 
  width: 450px;
  margin: auto;
  background-color: white;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}

.inputformat {
  padding-bottom: 20px;
  width: 100%;
  height: 100%;
}

.inputformat input {
  border-radius: 4px;
  width: 100%;
  margin: 8px 0px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: double;
  border-color: #c9c9c9;
  padding: 7px 4px;
}

.inputformat2 {
  padding-bottom: 5px;
  width: 20%;
  height: 100%;
}

.inputformat2 input[type="text"] {
  border-radius: 4px;
  margin: 8px 0px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: double;
  border-color: #c9c9c9;
  padding: 7px 4px;
}

.loginstyle h1 {
  text-align: center;
}

.loginstyle button {
  display: block;
  float: center;
  text-align: center;
  margin: auto;
}

.signupstyle {
  width: 450px;
  margin: auto;
  background-color: #e4ffef;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.signupstyle h1 {
  text-align: center;
}

.signupstylebutton {
  display: block;
  float: center;
  text-align: center;
  margin: auto;
}

/* ----------------------- Home style ----------------------- */

.welcomeStyle {
  width: 450px;
  background-color: white;
  padding-left: 40px;
  padding-bottom: 50px;
}
.padstyle {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
}

/* ----------------------- Profilebox style ----------------------- */
.profileStyle {
  border-radius: 15px;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(211, 216, 221);
  width: 320px;
  height: auto;
  background-color: white;
  padding: 1% 2%;
  margin-left: 2%;
  background-color: #e4ffef;
  text-align: center;
  position: fixed;
}

.profilePicStyle {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 216, 221);
  border-radius: 15px;
  height: 40%;
  width: 40%;
}

.filmbox {
  font-size: 14px;
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(211, 216, 221);
  border-radius: 8px;
  padding: 4%;
  margin: auto;
}

.followerbox {
  font-size: 14px;
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(211, 216, 221);
  border-radius: 8px;
  padding: 4%;
  margin: auto;
}

.followingbox {
  font-size: 14px;
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(211, 216, 221);
  border-radius: 8px;
  padding: 4%;
  margin: auto;
}

.currentlyWatchingStyle {
  margin-left: 8px;
  margin-top: 20px;
  font-style: italic;
}

.watchlisth1 {
  margin-left: 3%;
}

.filmstyle {
  padding: 3% 5%;
}

.newWatcherSyle {
  text-align: center;
  font-size: 15px;
}

.ulstyle {
  width: 200px;
  margin: auto;
  padding: 0;
  border-radius: 15px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.ulstyle li {
  padding-bottom: 6px;
  padding-left: 0;
  list-style: none;
  width: auto;
  text-align: center;
}

.ulcontainer {
  margin-right: 32%;
  margin-left: 32%;
  padding: 1%;
  border-radius: 15px;
  border-width: 0.5px;
  border-style: solid;
  border-color: #61d290;
}

.ulcontainer h3 {
  text-align: center;
  font-style: italic;
}

.ulcontainer1 {
  margin-right: 32%;
  margin-left: 32%;
  padding: 1%;
  border-radius: 15px;
  background-color: #e4ffef;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(211, 216, 221);
}

.ulwatchliststyle {
  padding: 0;
  margin: 0;
}

.ulcontainer1 h3 {
  text-align: center;
  font-style: italic;
}

.ulcontainer1 li {
  padding-bottom: 6px;
  list-style: none;
  width: 100%;
  text-align: center;
  margin: 0;
}

/* ----------------------- Watchlist(filmlist) style ----------------------- */
.watchliststyle {
  border-radius: 15px;
  border-width: 0.5px;
  border-style: solid;
  border-color: lightgray;
  width: 220px;
  height: auto;
  background-color: white;
  padding: 1% 2%;
  margin-left: 2%;
  background-color: #e4ffef;
  text-align: center;
  position: fixed;
}

/* ----------------------- Searchpage style ----------------------- */
.searchstyle1 {
  position: fixed;
  margin-left: 73%;
}

.searchstyle {
  position: fixed;
  margin-left: 60%;
  margin-top: 30px;
}

.inputformat3 {
  padding-bottom: 5px;
  width: 100%;
  height: 100%;
}

.inputformat3 input[type="text"] {
  border-radius: 4px;
  margin: 8px 0px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: double;
  border-color: #c9c9c9;
  padding: 7px 4px;
  width: 360px;
}


.watcherSearchStyle {
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(211, 216, 221);
  margin-left: 5%;
  margin-right: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.searchresults {
margin-left: 5%;
margin-bottom: 10px;
font-size: 30px;
}

.ulwatchliststyle2 {
  list-style: none;
  background-color: #c4f0d6;
  border-style: solid;
  margin: 2%;
  border-width: 1px;
  border-color: #c4f0d6;
  border-radius: 8px;
}
.ulwatchliststyle2 li {
  list-style: none;
  margin-top: 10px;
}

.ulwatchliststyle3 {
  list-style: none;
  margin-bottom: 50px;
}

.ulwatchliststyle3 li {
  border-style: solid;
  border-width: 2px;
  border-color: #c4f0d6;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 50%;
  padding-left: 8px;
}

.simpleulstyle {
  list-style: none;
  padding-left: 5%;
  padding-top: 10px;
}

/*Used for the text inside warningmessages in login, signup og watchlist pages*/
.errortextstyle {
  font-size: 12px;
  margin: 0;
}

/* ----------------------- Feed style ----------------------- */
.feedstyle {
  margin-bottom: 10px;
  width: 40%;
  margin-left: 380px;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.feedstyle li {
  padding-left: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #11b785;
  border-radius: 10px;
  margin-top: 25px;
  padding: 10px
}


.feedwatcher {
  font-size: 17px;
  color: #61d290;
  font-weight: bold;
}

.feedwatcher2 {
  font-size: 20px;
  color: #61d290;
  font-style: italic;
}

.simpleulstyle2 {
  list-style: none;
  padding-left: 40%;
  padding-top: 10px;
  font-size: 20px;
}